/* emoticon small type A */
.emo-small-a {display:block;width:70px; height:70px; background:url('/img/snsbbs/emo_spr_01.png') 0 0 no-repeat;background-size:500%;margin:1px} 
.emo-small-a.emo01  {background-position:    0px     0px;}
.emo-small-a.emo02  {background-position:  -70px    0px;}
.emo-small-a.emo03  {background-position: -140px    0px;}
.emo-small-a.emo04  {background-position: -210px    0px;}
.emo-small-a.emo05  {background-position: -280px    0px;}
.emo-small-a.emo06  {background-position:    0px  -70px;}
.emo-small-a.emo07  {background-position:  -70px  -70px;}
.emo-small-a.emo08  {background-position: -140px  -70px;}
.emo-small-a.emo09  {background-position: -210px  -70px;}
.emo-small-a.emo10 {background-position:  -280px  -70px;}
.emo-small-a.emo11 {background-position:    0px  -140px;}
.emo-small-a.emo12 {background-position: -70px   -140px;}
.emo-small-a.emo13 {background-position: -140px  -140px;}
.emo-small-a.emo14 {background-position: -210px  -140px;}
.emo-small-a.emo15 {background-position: -280px  -140px;}
.emo-small-a.emo16 {background-position:    0px  -210px;}
.emo-small-a.emo17 {background-position: -70px   -210px;}
.emo-small-a.emo18 {background-position: -140px  -210px;}
.emo-small-a.emo19 {background-position: -210px  -210px;}
.emo-small-a.emo20 {background-position: -280px  -210px;}

/* emoticon normal type A */
.emo-type-a {display:block;width:150px; height:150px; background:url('/img/snsbbs/emo_spr_01x2.png') 0 0 no-repeat;background-size:500%;} 
.emo-type-a.emo01  {background-position:    0px     0px;}
.emo-type-a.emo02  {background-position: -150px     0px;}
.emo-type-a.emo03  {background-position: -300px     0px;}
.emo-type-a.emo04  {background-position: -450px     0px;}
.emo-type-a.emo05  {background-position: -600px     0px;}
.emo-type-a.emo06  {background-position:    0px  -150px;}
.emo-type-a.emo07  {background-position: -150px  -150px;}
.emo-type-a.emo08  {background-position: -300px  -150px;}
.emo-type-a.emo09  {background-position: -450px  -150px;}
.emo-type-a.emo10 {background-position: -600px  -150px;}
.emo-type-a.emo11 {background-position:    0px  -300px;}
.emo-type-a.emo12 {background-position: -150px  -300px;}
.emo-type-a.emo13 {background-position: -300px  -300px;}
.emo-type-a.emo14 {background-position: -450px  -300px;}
.emo-type-a.emo15 {background-position: -600px  -300px;}
.emo-type-a.emo16 {background-position:    0px  -450px;}
.emo-type-a.emo17 {background-position: -150px  -450px;}
.emo-type-a.emo18 {background-position: -300px  -450px;}
.emo-type-a.emo19 {background-position: -450px  -450px;}
.emo-type-a.emo20 {background-position: -600px  -450px;}
/**** ì´ëª¨í‹°ì½˜ ì…‹íŠ¸ A ****/


/**** ì´ëª¨í‹°ì½˜ ì…‹íŠ¸ B ****/
/* emoticon small type B */
.emo-small-b {display:block;width:70px; height:70px; background:url('/img/snsbbs/emo_spr_02.png') 0 0 no-repeat;background-size:500%;margin:1px} 
.emo-small-b.emo01  {background-position:    0px     0px;}
.emo-small-b.emo02  {background-position:  -70px    0px;}
.emo-small-b.emo03  {background-position: -140px    0px;}
.emo-small-b.emo04  {background-position: -210px    0px;}
.emo-small-b.emo05  {background-position: -280px    0px;}
.emo-small-b.emo06  {background-position:    0px  -70px;}
.emo-small-b.emo07  {background-position:  -70px  -70px;}
.emo-small-b.emo08  {background-position: -140px  -70px;}
.emo-small-b.emo09  {background-position: -210px  -70px;}
.emo-small-b.emo10 {background-position:  -280px  -70px;}
.emo-small-b.emo11 {background-position:    0px  -140px;}
.emo-small-b.emo12 {background-position: -70px   -140px;}
.emo-small-b.emo13 {background-position: -140px  -140px;}
.emo-small-b.emo14 {background-position: -210px  -140px;}
.emo-small-b.emo15 {background-position: -280px  -140px;}
.emo-small-b.emo16 {background-position:    0px  -210px;}
.emo-small-b.emo17 {background-position: -70px   -210px;}
.emo-small-b.emo18 {background-position: -140px  -210px;}
.emo-small-b.emo19 {background-position: -210px  -210px;}
.emo-small-b.emo20 {background-position: -280px  -210px;}

/* emoticon normal type B */
.emo-type-b {display:block;width:150px; height:150px; background:url('/img/snsbbs/emo_spr_02x2.png') 0 0 no-repeat;background-size:500%;} 
.emo-type-b.emo01  {background-position:    0px     0px;}
.emo-type-b.emo02  {background-position: -150px     0px;}
.emo-type-b.emo03  {background-position: -300px     0px;}
.emo-type-b.emo04  {background-position: -450px     0px;}
.emo-type-b.emo05  {background-position: -600px     0px;}
.emo-type-b.emo06  {background-position:    0px  -150px;}
.emo-type-b.emo07  {background-position: -150px  -150px;}
.emo-type-b.emo08  {background-position: -300px  -150px;}
.emo-type-b.emo09  {background-position: -450px  -150px;}
.emo-type-b.emo10 {background-position: -600px  -150px;}
.emo-type-b.emo11 {background-position:    0px  -300px;}
.emo-type-b.emo12 {background-position: -150px  -300px;}
.emo-type-b.emo13 {background-position: -300px  -300px;}
.emo-type-b.emo14 {background-position: -450px  -300px;}
.emo-type-b.emo15 {background-position: -600px  -300px;}
.emo-type-b.emo16 {background-position:    0px  -450px;}
.emo-type-b.emo17 {background-position: -150px  -450px;}
.emo-type-b.emo18 {background-position: -300px  -450px;}
.emo-type-b.emo19 {background-position: -450px  -450px;}
.emo-type-b.emo20 {background-position: -600px  -450px;}

/* emoticon type C */
/*.emo-type-c {display:block;width:220px; height:150px; background:url('/img/snsbbs/emo_spr_03.png') 0 0 no-repeat;background-size:895px;margin:1px}
.emo-type-c.emo01  {background-position:     0px   0px;}
.emo-type-c.emo02  {background-position:  -225px   0px;}
.emo-type-c.emo03  {background-position:  -450px   0px;}
.emo-type-c.emo04  {background-position:  -675px   0px;}
.emo-type-c.emo05  {background-position:     0px   -155px;}
.emo-type-c.emo06  {background-position:  -225px   -155px;}
.emo-type-c.emo07  {background-position:  -450px   -155px;}
.emo-type-c.emo08  {background-position:  -675px   -155px;}
.emo-type-c.emo09  {background-position:     0px   -310px;}
.emo-type-c.emo10  {background-position:  -225px   -310px;}
.emo-type-c.emo11  {background-position:  -450px   -310px;}
.emo-type-c.emo12  {background-position:  -675px   -310px;}*/

.emo-type-c {display:block; margin:0; width:220px; height:150px;}
.emo-type-c.emo01  {background:url('/img/snsbbs/emo3_01.png') 0 0 no-repeat;background-size:100%}
.emo-type-c.emo02  {background:url('/img/snsbbs/emo3_02.png') 0 0 no-repeat;background-size:100%}
.emo-type-c.emo03  {background:url('/img/snsbbs/emo3_03.png') 0 0 no-repeat;background-size:100%}
.emo-type-c.emo04  {background:url('/img/snsbbs/emo3_04.png') 0 0 no-repeat;background-size:100%}
.emo-type-c.emo05  {background:url('/img/snsbbs/emo3_05.png') 0 0 no-repeat;background-size:100%}
.emo-type-c.emo06  {background:url('/img/snsbbs/emo3_06.png') 0 0 no-repeat;background-size:100%}
.emo-type-c.emo07  {background:url('/img/snsbbs/emo3_07.png') 0 0 no-repeat;background-size:100%}
.emo-type-c.emo08  {background:url('/img/snsbbs/emo3_08.png') 0 0 no-repeat;background-size:100%}
.emo-type-c.emo09  {background:url('/img/snsbbs/emo3_09.png') 0 0 no-repeat;background-size:100%}
.emo-type-c.emo10  {background:url('/img/snsbbs/emo3_10.png') 0 0 no-repeat;background-size:100%}
.emo-type-c.emo11  {background:url('/img/snsbbs/emo3_11.png') 0 0 no-repeat;background-size:100%}
@media screen and (min-width: 60em) {
	.comm-cont .emo-type-c,
	.comm_txt .emo-type-c {width:200px;}
}


.emo-small-d {display:block; width:100px; height:100px; background:url('/img/snsbbs/emo_spr_04.png') 0 0 no-repeat;background-size:400%}
.emo-small-d.emo01  {background-position:     0px     0px;}
.emo-small-d.emo02  {background-position:  -100px     0px;}
.emo-small-d.emo03  {background-position:  -200px     0px;}
.emo-small-d.emo04  {background-position:  -300px     0px;}
.emo-small-d.emo05  {background-position:     0px  -100px;}
.emo-small-d.emo06  {background-position:  -100px  -100px;}
.emo-small-d.emo07  {background-position:  -200px  -100px;}
.emo-small-d.emo08  {background-position:  -300px  -100px;}
.emo-small-d.emo09 	{background-position:     0px  -200px;}
.emo-small-d.emo10 	{background-position:  -100px  -200px;}
.emo-small-d.emo11 	{background-position:  -200px  -200px;}
.emo-small-d.emo12 	{background-position:  -300px  -200px;}
.emo-small-d.emo13 	{background-position:     0px  -300px;}
.emo-small-d.emo14 	{background-position:  -100px  -300px;}
.emo-small-d.emo15 	{background-position:  -200px  -300px;}
.emo-small-d.emo16 	{background-position:  -300px  -300px;}
.emo-small-d.emo17 	{background-position:     0px  -400px;}
.emo-small-d.emo18 	{background-position:  -100px  -400px;}
.emo-small-d.emo19 	{background-position:  -200px  -400px;}
.emo-small-d.emo20 	{background-position:  -300px  -400px;}

@media screen and (max-width: 440px) {
.emo-small-d {display:block; width:70px; height:70px; background:url('/img/snsbbs/emo_spr_04.png') 0 0 no-repeat;background-size:400%}
.emo-small-d.emo01  {background-position:    0px     0px;}
.emo-small-d.emo02  {background-position:  -70px     0px;}
.emo-small-d.emo03  {background-position: -140px     0px;}
.emo-small-d.emo04  {background-position: -210px     0px;}
.emo-small-d.emo05  {background-position:    0px   -70px;}
.emo-small-d.emo06  {background-position:  -70px   -70px;}
.emo-small-d.emo07  {background-position: -140px   -70px;}
.emo-small-d.emo08  {background-position: -210px   -70px;}
.emo-small-d.emo09 	{background-position:    0px  -140px;}
.emo-small-d.emo10 	{background-position:  -70px  -140px;}
.emo-small-d.emo11 	{background-position: -140px  -140px;}
.emo-small-d.emo12 	{background-position: -210px  -140px;}
.emo-small-d.emo13 	{background-position:    0px  -210px;}
.emo-small-d.emo14 	{background-position:  -70px  -210px;}
.emo-small-d.emo15 	{background-position: -140px  -210px;}
.emo-small-d.emo16 	{background-position: -210px  -210px;}
.emo-small-d.emo17 	{background-position:    0px  -280px;}
.emo-small-d.emo18 	{background-position:  -70px  -280px;}
.emo-small-d.emo19 	{background-position: -140px  -280px;}
.emo-small-d.emo20 	{background-position: -210px  -280px;}
}


.emo-type-d {display:block; width:150px; height:150px; background:url('/img/snsbbs/emo_spr_04.png') 0 0 no-repeat;background-size:400%}
.emo-type-d.emo01  {background-position:    0px     0px;}
.emo-type-d.emo02  {background-position: -150px     0px;}
.emo-type-d.emo03  {background-position: -300px     0px;}
.emo-type-d.emo04  {background-position: -450px     0px;}
.emo-type-d.emo05  {background-position:    0px  -150px;}
.emo-type-d.emo06  {background-position: -150px  -150px;}
.emo-type-d.emo07  {background-position: -300px  -150px;}
.emo-type-d.emo08  {background-position: -450px  -150px;}
.emo-type-d.emo09 	{background-position:    0px  -300px;}
.emo-type-d.emo10 	{background-position: -150px  -300px;}
.emo-type-d.emo11 	{background-position: -300px  -300px;}
.emo-type-d.emo12 	{background-position: -450px  -300px;}
.emo-type-d.emo13 	{background-position:    0px  -450px;}
.emo-type-d.emo14 	{background-position: -150px  -450px;}
.emo-type-d.emo15 	{background-position: -300px  -450px;}
.emo-type-d.emo16 	{background-position: -450px  -450px;}
.emo-type-d.emo17 	{background-position:    0px  -600px;}
.emo-type-d.emo18 	{background-position: -150px  -600px;}
.emo-type-d.emo19 	{background-position: -300px  -600px;}
.emo-type-d.emo20 	{background-position: -450px  -600px;}